# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 日志和数据
*.log
wandb/
logs/
runs/
models/saved_model/*
!models/saved_model/.gitkeep

# 系统文件
.DS_Store 